
:root{
    --blue: #190784;
    --light-blue: #F2F9FD;

    --section-padding: 3rem 15%;
    --section-padding-low: 4rem 11%;
}
@font-face {
    font-family: arabic-heavy;
    src: url("../fonts/URW-Heavy.ttf");
}
@font-face {
    font-family: arabic-regular;
    src: url("../fonts/URW-Regular.ttf");
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}
*{
    box-sizing: border-box;
    font-family: 'arabic-heavy';
    text-align: justify;
}



.wave{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 7vh;
    object-fit: cover;
}
.upsidedown{
    transform: rotate(180deg);
    top: -1px;
}
.text{
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.8rem 1rem;
    gap: 1rem;

    min-height: 40vh;
}
.text > *{
    margin: 0;
}
.image{
    border-radius: 1.2rem 1rem;
    border: 6px solid #190784;
    object-fit: cover;
}

/* typography */

h1{
    color: var(--blue);
    font-size: 3rem;
    margin-top: 0;
}
h2, label{
    color: var(--blue);
    font-size: 2.25rem;
}
p, li > span{
    line-height: 193%;
    color: #535353;
    font-size: 1.375rem;
}

p, li > span, h1, h2, span{
    direction: rtl;
}

/* Navigation bar */

    nav{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: right;

        width: 100%;
        height: 5rem;
        padding: 0 3%;

        background: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        z-index: 10;
    }
    .pages{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 2rem;

        width: fit-content;

        margin: 0;
        padding: 5px 41px;

        background: #e2edff;
        border-radius: 100px;
        list-style: none;
    }
    .page-link{
        font-size: 1.2rem;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }

    .logo{
        position: absolute;
        left: 0;
        top: 0;

        width: 11.5rem;
        aspect-ratio: 1/1;
    }


    .active-page{
        color: var(--blue);
    }

    .menu-btn{
        padding: 0;
        border: none;
        background: none;

        width: 35px;
        display: none;
    }
    .menu-btn > img{
        width: 100%;
    }
    .pages > *{
        position: relative;
    }

    .dropdown{
        list-style: none;
        padding: 0;
        direction: rtl;

        position: absolute;
        right: -10%;
        top: 100%;

        
        background: #e2edff;
        width: 150%;

        display: flex;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
        overflow: hidden;

        animation: dropdown 0.6s ease;
    }
    @keyframes dropdown {
        0%{
            height: 0;
        }
        100%{
            height: 130px;
        }
    }
    .dropdown > li{
        padding: 5px 10px;
        transition: 0.2s all ease;
    }
    .dropdown > li:hover{
        background: #cbd5e4;
    }
    .dropdown > li:active{
        transition: 0.1s all ease;
        background: #b8c0ce;
    }
    .pages > li{
        display: flex;
        justify-content: center;
    }
    .pages > li > a{
        position: relative;
    }
    .pages > li > a > span{
        position: absolute;
        left: -30%;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease;

        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: fit-content;
        line-height: 0;
    }

/* / Navigation bar */

/* Hero */

.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;

    width: 100%;
    height: 100vh;

    background: url(../images/misc/sky.png);

    background-size: cover;
}

.hero-title-area{
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;

    object-position: bottom;
    object-fit: cover;
}
.kids{
    width: 125vh;
}


.hero-banner-area{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
.hero-banner-area > div{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100vh;
}
.hero-title{
    position: absolute;
    left: 50%;
    bottom: 30%;

    transform: translate(-50%, 30%);
    z-index: 6;

    color: black;
    font-size: 8vh;
    text-align: center;
    width: 80%;
}

/* end of hero */

/* gallery */

.gallery{
    position: relative;
    padding-top: 5vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #FFF48C;

    padding: 50px;
    
}

.carousel-area{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.carousel-container {
    position: relative;
    width: 90%;
    overflow: hidden;
}
  
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
  
.slide {
    flex: 0 0 33.33%; /* Adjust to control the number of images shown at once */
    max-width: 33.33%; /* Adjust to control the number of images shown at once */
    padding: 0 15px;

}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 25px;
    border: 5px solid var(--blue);
}
  
.dot-indicator {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.dot-indicator li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue);
    margin: 0 5px;
    cursor: pointer;
}
  
.dot-indicator li.active {
    background-color: #FF922E;
}

.arrow{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;

    z-index: 6;
    top: 50%;
    transform: translateY(-50%);

}
.arrow > img{
    transition: 0.2s ease;
    width: 30px;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}

.gallery > *{
    z-index: 2;
}

.sunrays{
    background-image: url(../images/misc/sun-rays.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.57;
    background-position-y: -100px;


    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

/* end of gallery */

/* LAYOUT 1 */

.layout1{
    display: flex;
    justify-content: center;
    padding: 6vh 0;
}
.diamond{
    background: #FFF;
    box-shadow: 10px 11px 50px 0px #DED9FC;
    aspect-ratio: 1/1;
    width: 25%;
    transform: rotate(45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.diamond > div{
    transform: rotate(-45deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.diamond > div > *{
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
}

/* LAYOUT 2 */

.layout2{
    background: white;
    justify-content: space-between;

    gap: 5%;
    padding: var(--section-padding);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.group{
    display: flex;
    flex-direction: column;

    flex: 1;
    gap: 2rem;
}
.layout2 .text{
    background: var(--light-blue);

    grid-row: 1;
    min-height: 0;
}
.layout2 .text > *{
    margin: 0;
}
.layout2 .image{
    height: 40vh;
    width: 100%;
    grid-row: 2;
}

/* LAYOUT 3 and 4 and 6 */

.layout3, .layout4, .layout6{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: 5%;
    padding: var(--section-padding);
}
.layout3 > *, .layout4 > *, .layout6 > *{
    flex: 1;
}

.layout3 .image, .layout4 .image, .layout6 .image{
    position: relative;
    height: 100%;
    grid-row: 1;
    overflow: hidden;
}
.layout3 .image > img, .layout4 .image > img, .layout6 .image > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.layout3 .text, .layout4 .text, .layout6 .text{
    background: var(--light-blue);
    grid-column: 1;
    height: fit-content;
    grid-row: 1;
}

.layout3 .image {
    grid-column: 1;
}

.layout3 .text{
    grid-column: 2;
}

/* LAYOUT 4 */


.layout4 .image {
    grid-column: 2;
}

.layout4 .text{
    grid-column: 1;
}

/* LAYOUT 5 */

.layout5{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--section-padding);
    background: white;
}
.layout5 > h1{
    font-size: 2.5rem;
}
.cards{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5%;

    background: var(--light-blue);
    border-radius: 25px;

    padding: 1.3%;
    cursor: pointer;
}
.card > h2{
    margin: 0;
}
.card img{
    width: 100%;
}

.v2{
    background: var(--light-blue);
}
.v2 .content{
    background: white;
}

/* LAYOUT 6 */


.layout6 .image {
    grid-column: 2;
}

.layout6 .text{
    grid-column: 1;
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list > li{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-bottom: 1.125rem;
    margin-top: 1.125rem;
}
.list > li > img{
    margin-top: 10px;
}

/* ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE ABOUT PAGE */

.about-title{
    padding-top: 100px;
    text-align: center;
}
.about-title2{
    padding-top: 50px;
    text-align: center;
}

.layout7{
    padding: var(--section-padding-low);
}

.layout8{
    padding: var(--section-padding-low);
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}
.map-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.map{
    padding: 2vw;
    background: var(--light-blue);
    border-radius: 1.25rem;
    width: 75%;
    aspect-ratio: 16/9;
}
.map > iframe{
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}
.subtitle{
    text-align: center;
}

/* EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS EVENTS */

.event-section{
    background: var(--light-blue);
    padding: var(--section-padding);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    min-height: 80vh;
}
.events{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 47px;
}
.event{
    background: white;
    border-radius: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.44rem;

    direction: rtl;

    width: 100%;

    transition: 0.2s ease;
}
.event-info{
    padding: 15px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.44rem;

    cursor: pointer;
}

.event:has(.event-info:hover){
    background: #f3f3f3;
}
.event:has(.event-info:active){
    transition: 0.1s ease;
    background: #dadada;
}
.event-info > h2{
    margin: 0;
}
.date{
    height: fit-content;
    display: flex;
    gap: 0.5rem;

    font-size: 1.375rem;
}

.event-section > .image{
    min-height: 0;
    min-width: 0;
    flex: 1;
    height: 100%;
    max-width: 26vw;
    object-fit: cover;
}

.event-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(8px);
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;

}
.event-popup > div{
    position: relative;
    background: white;
    border-radius: 15px;
    width: 960px;
    min-height: 60%;

    display: flex;
    justify-content: space-between;
    padding: 2%;
    gap: 3%;
}
.event-popup-text{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.event-popup-text > div > h2{
    margin: 0;
}
.event-popup > div > .image{
    min-width: 0;
    min-height: 0;
    flex: 0.7;
}
.close-btn{
    width: 50px;
    aspect-ratio: 1/1;
    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: -50px;
    right: -50px;
}
.close-btn > img{
    width: 100%;
    height: 100%;
}


/* Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us Contact Us  */

#contactForm{
    display: flex;
    flex-direction: column;
    padding: var(--section-padding);
    padding-top: 0;
}
label{
    margin-bottom: 10px;
    text-align: right;
}
input, textarea{
    height: 60px;
    border-radius: 15px ;
    margin-bottom: 30px;
    border: 2px solid var(--blue);
    font-size: 2rem;
    text-align: right;
}
input:focus{
    border: 4px solid var(--blue);
    outline: none;
}
textarea{
    height: 30vh;
}
.submit-btn{
    font-size: 2.5rem;
    padding: 0.6rem 1.75rem;
    padding-top: 0.3rem;
    height: unset;
    width: fit-content;
    font-family: "arabic-regular", sans-serif;
    color: var(--blue);
    background: white;
    cursor: pointer;
    transition: 0.2s ease;
    align-self: flex-end;
}
.submit-btn:hover{
    background: rgb(245, 245, 245);
}
.submit-btn:active{
    background: rgb(230, 230, 230);
    transform: scale(1.05);
}

.socials{
    background: var(--light-blue);
    padding: var(--section-padding);

    display: flex;
    justify-content: space-around;
    gap: 5%;
}
.social-link{
    background: white;
    aspect-ratio: 1/1;
    flex: 1;
    max-width: 200px;
    border-radius: 30px;
    padding: 2%;

    cursor: pointer;
    transition: 0.2s all ease;
}
.social-link > img{
    width: 100%;
    height: 100%;
}
.social-link:hover{
    background: rgba(255, 255, 255, 0.39);
}
.social-link:active{
    transition: 0.1s all ease;
    scale: 0.9;
}


.hidden{
    display: none;
}
.flipped-y{
    rotate: 180deg;
}

@media only screen and (max-width: 1478px){

    h2, label, .submit-btn{
        font-size:2rem;
    }
    p, li > span{
        font-size: 1.2rem;
    }
    input, textarea{
        font-size: 1.5rem;
    }


    /* EVENTS */

    .event-section{
        padding: 3rem 10%;
    }
    .event-section > .image{
        max-width: unset;
    }

}
@media only screen and (max-width: 1228px){

    h2, label, .submit-btn{
        font-size: 1.6rem;
    }
    p, li > span{
        font-size: 1rem;
    }

    /* events page */

    .event-section{
        padding: 3rem 5%;
    }

    .event-popup > div{
        width: 60%;
    }
}
@media only screen and (max-width: 1000px){

    *{
        -webkit-tap-highlight-color: transparent;
    }

    :root{
        --section-padding: 3rem 15%;
    }
    .wave{
        height: 4vh;
    }
    .text{
        min-height: 0;
    }
    .image{
        min-height: 0;
        height: 100%;
    }

    /* TEXT */
    .gallery > h1, .layout5 > h1, .about-title, .about-title2{
        font-size: 2.6rem;
    }
    h2, label, .submit-btn{
        font-size: 2rem;
    }
    p, li > span{
        font-size: 1.4rem;
    }
    .hero-title{
        font-size: 7.5vw;
    }
    *{
        font-family: "arabic-regular";
    }
    
    /* NAVBAR */
    .pages{
        width: 0;
        height: 100vh;

        position: fixed;
        top: 0;
        right: 0;

        background: #b1bac9dc;
        backdrop-filter: blur( 5px);

        border-radius: 0;
        display: none;

        flex-direction: column;
        justify-content: space-around;

        overflow: hidden;

        padding: 10vh 0;
    }
    .logo{
        width: 10rem;
        top: 0.7rem;
    }
    .menu-btn{
        position: fixed;

        display: block;

    }

    .pages.open{
        display: flex;
        animation: openMenu 0.3s ease;
        width: 100%;
    }
    .page-link{
        font-family: 'arabic-heavy';
        font-size: 2rem;
        text-align: center;
    }

    @keyframes openMenu {
        0%{
            width: 0;
        }100%{
            width: 100%;
        }
    }
    @keyframes closeMenu {
        0%{
            width: 100%;
        }100%{
            width: 0;
        }
    }

    .pages > li{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .dropdown{
        position: relative;
        top: unset;
        right: unset;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        border-radius: 10px;
        background: none;
    }
    .dropdown > *{
        flex: 1;
        text-align: center;
    }
    .dropdown > * > a{
        font-size: 1.5rem;
    }
    @keyframes dropdown {
        0%{
            height: 0;
        }
        100%{
            height: 51px;
        }
    }
    

    /* Hero */
    .hero{
        height: fit-content;
        padding-top: 10vh;
    }
    .kids{
        width: 100%;
    }
    .banner{
        width: 95vw;
    }
    
    /* GALLERY */
    .gallery{
        padding: 40px 0;
    }
    .slide {
        flex: 0 0 100%; /* Adjust to control the number of images shown at once */
        max-width: none;
    }
    .arrow > img{
        width: 40px;
    }
    .carousel-container{
        width: 80%;
    }

    /* Layout 1 */

    .diamond{
        width: 45%;
    }
    
    /* Layout 2 */
    .layout2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        gap: 2vh;
    }
    .layout2 > *:nth-child(1){
        grid-row: 1;    
        grid-column: 1;
    }
    .layout2 > *:nth-child(2){
        grid-row: 2;
        grid-column: 1;
    }
    .layout2 > *:nth-child(3){
        grid-row: 3;
        grid-column: 1;
    }
    .layout2 > *:nth-child(4){
        grid-row: 4;
        grid-column: 1;
    }

    .layout2 > .image{
        min-height: 0;
    }

    /* layout3 */
    .layout3, .layout6, .layout4{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .layout3 > *:nth-child(2), .layout6 > *:nth-child(2), .layout4 > *:nth-child(2){
        grid-row: 2;
        grid-column: 1;
    }
    .layout3 .text, .layout6 .text, .layout4 .text{
        grid-column: 1;
    }

    /* How old is ur child */
    .layout5{
        padding-top: 30px;
    }
    .cards{
        gap: 5px;
    }
    .card > img{
        width: 100%;
    }
    .card{
        padding: 10px;
        border-radius: 10px;
    }



    /* ABOUT PAGE */
    
    .map{
        width: 92%;
        aspect-ratio: 4/3;
    }

    /* EVENTS PAGE */

    .event-section{
        padding: var(--section-padding);
        flex-direction: column-reverse;
    }
    .event-section > .image{
        width: 100%;
        flex: none;
    }
    .events{
        width: 100%;
    }
    .event-info{
        flex-direction: column;
        justify-content: center;
        align-content: center;

        width: 100%;
    }

    .event-popup > div{
        flex-direction: column;
        height: 80vh;
    }
    .event-popup > div > .image{
        flex: 1;
    }

}
@media only screen and (max-width: 600px){

    :root{
        --section-padding: 3rem 5%;
        --section-padding-low: 1rem 5%;
    }
    .text{
        min-height: 0;
    }
    .image{
        min-height: 0;
        height: 100%;
    }

    /* TEXT */
    .gallery > h1, .layout5 > h1, .about-title, .about-title2{
        font-size: 1.8rem;
    }
    h2, label, .submit-btn{
        font-size: 1.6rem;
    }
    p, li > span{
        font-size: 1.3rem;
    }
    .hero-title{
        font-size: 7.5vw;
    }
    *{
        font-family: "arabic-regular";
    }

    .diamond{
        width: 70%;
    }

    /* ABOUT PAGE */
    .about-title{
        padding-top: 150px;
        font-size: 2rem;
    }
    .about-title2{
        padding-top: 10px;
    }
    .subtitle{
        margin-bottom: 100px;
    }

    /* EVENT PAGE */

    .event-popup > div{
        flex-direction: column;
        height: 80vh;
        width: 95vw;
        padding: 1rem 2rem;
    }
    .event-popup-text > div > *{
        text-align: center;
        justify-content: center;
    }
    .close-btn{
        right: 0;
    }

    /* CONTACT US */

    .social-link{
        border-radius: 15px;
        padding: 4%;
    }
}

